@charset "UTF-8";

@font-face {
  font-family: "typicons";
  src: url("typicons.eot?9e3477ef1e12f51d50b71c01874f325f?#iefix") format("embedded-opentype"),
url("typicons.woff2?9e3477ef1e12f51d50b71c01874f325f") format("woff2"),
url("typicons.woff?9e3477ef1e12f51d50b71c01874f325f") format("woff"),
url("typicons.ttf?9e3477ef1e12f51d50b71c01874f325f") format("truetype"),
url("typicons.svg?9e3477ef1e12f51d50b71c01874f325f#typicons") format("svg");
}

.typcn:before {
  font-family: typicons !important;
  font-style: normal;
  font-weight: normal !important;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.typcn-lg {
  font-size: 1.33333333em;
  line-height: 0.75em;
  vertical-align: -15%;
}
.typcn-2x {
  font-size: 2em;
}
.typcn-3x {
  font-size: 3em;
}
.typcn-4x {
  font-size: 4em;
}
.typcn-5x {
  font-size: 5em;
}

.typcn-volume:before {
  content: "\e135";
}
.typcn-arrow-right:before {
  content: "\e01b";
}
.typcn-social-at-circular:before {
  content: "\e0e1";
}
.typcn-social-github-circular:before {
  content: "\e0e8";
}
.typcn-social-linkedin-circular:before {
  content: "\e0f0";
}
.typcn-social-youtube-circular:before {
  content: "\e0fc";
}
.typcn-social-facebook-circular:before {
  content: "\e0e4";
}
.typcn-social-instagram-circular:before {
  content: "\e0ec";
}
.typcn-social-twitter-circular:before {
  content: "\e0f8";
}
.typcn-chevron-right:before {
  content: "\e049";
}
.typcn-chevron-left:before {
  content: "\e047";
}
.typcn-social-tiktok-circular:before {
  content: "\e150";
}
